.login__modal {
	.login__container {
		.login__form {
			@apply bg-gray-900 p-8;

			> h1 {
				font-family: $main-font;
				font-size: 26px;
				color: $main-color;
			}

			p.error {
				@apply text-red-500;
				font-size: 12px;
			}

			min-width: 350px;

			.login__form__group {
				@apply flex flex-col gap-1;

				label {
					@apply text-white;
					font-family: $main-font;
					font-size: 14px;
				}
			}

			.login__form__group.contoller {
				.basic__auth {
					@apply flex flex-row mt-6 gap-4;

					>* {
						@apply flex-1;
					}
				}
				p {
					@apply text-gray-400 cursor-pointer mt-2;
					font-size: 12px;
					width: fit-content;
					&:hover {
						color: $main-color;
					}
				}

				.google__auth {
					padding: 16px 20px;
					transition: all 0.3s ease-in-out;
					@apply flex gap-4 items-center justify-center bg-black mt-2 cursor-pointer;

					img {
						width: 20px;
					}

					h4 {
						@apply text-white;
						font-family: $main-font;
						font-size: 18px;
					}

					&:hover {
						background-color: rgba(0, 0, 0, 0.493);
					}
				}
			}
		}
	}
}




