.home__page {

	.hero__black {
		@apply bg-black;

		hr {
			width: 60%;
			margin: 0 auto;
			opacity: 0.5;
			margin-bottom: 60px;
			@include w-min($tablet-breakpoint) {
				margin-bottom: 80px;
			}
		}

	}

	.hero__white {
		@apply bg-white;
	}


	.hero__black,
	.hero__white {
		padding: 20px;

		@include w-min($tablet-breakpoint) {
			padding: 20px 60px;
		}
	}


	@import "../../components/Home/styles/nextevents";
	@import "../../components/Home/styles/galleries";

	@import "../../components/Home/styles/about.scss";
	@import "../../components/Home/styles/services.scss";
	@import "../../components/Home/styles/contact.scss";

}