.order__decharges {

	@apply absolute top-0 left-0 flex items-center justify-center w-screen;

	height: 100dvh;

	@include w-max(870px) {
		padding: 40px;
		align-items: flex-start;
		overflow-y: scroll;

		.decharges__container {
			width: 100%;
		}
	}

	z-index: 1;
	background-color: rgba(0, 0, 0, 0.801);
	opacity: 0;

	.decharges__container {
		@apply bg-gray-800 flex flex-col;

		transform: translateY(calc(100dvh + 100%));
		min-height: 600px;

		.decharges__header {
			background-color: $main-color;
			color: black;
			font-family: $main-font;
			font-size: 18px;
			@apply p-2 flex items-center justify-between;

			svg {
				@apply w-7 h-7 cursor-pointer;
			}
		}

		.decharges__body {

			@apply flex flex-col flex-1;

			@include w-min(744px) {
				@apply flex-row;
			}

			h4 {
				font-size: 24px;
				font-family: $main-font;
				color: white;
			}


			.left {
				@apply p-4 flex-1 flex flex-col;

				@include w-min(744px) {
					width: 500px;
				}

				p {
					@apply text-gray-400;
					font-size: 12px;

					&.counter {
						@apply mt-2 font-bold;

						span {
							@apply text-green-600;
						}
					}
				}

				h5 {
					margin-top: 10px;
					font-size: 18px;
					font-family: $main-font;
					color: white;
					@apply flex items-center gap-2;

					span {
						@apply rounded-full bg-gray-900 text-gray-300 cursor-pointer border-gray-600 border-[1px];
						padding: 2px 10px;
						font-size: 14px;
						transition: all 0.3s ease-in-out;

						&.selected,
						&:hover {
							background-color: $main-color;
							color: black;
						}
					}
				}

				.decharges__list {
					@apply flex-1 flex items-center justify-center;

					@include w-max(600px) {
						min-height: 200px;
					}

					.no__decharges {
						@apply flex items-center flex-col;

						h5 {
							font-family: Arial, Helvetica, sans-serif;
							font-size: 16px;
							@apply text-gray-400 mb-2;
						}

						button {
							padding: 8px 12px;
							font-size: 15px;
						}
					}

					.decharges__list__container {
						@apply w-full h-full mt-10;

						> h6 {
							font-family: $main-font;
							font-size: 16px;
							color: theme("colors.gray.200");
						}

						.decharges__cards {
							@apply mt-2;

							.decharges__card {
								@apply flex gap-2;

								.decharges__card__header {
									@apply flex items-center;
								}

								.decharges__card__body {
									@apply flex justify-between w-full;

									.decharges__card__body__info {
										h6 {
											font-size: 12px;
											@apply text-gray-400;
										}
									}

									button {
										margin: auto 0;
										padding: 2px 5px;
										height: fit-content;
										font-size: 16px;
									}
								}

								&:not(:last-child) {
									border-bottom: 1px solid theme("colors.gray.600");
								}

								&:not(:first-child) {
									padding: 8px 0;
								}

								&:first-child {
									padding-bottom: 8px;
								}
							}
						}
					}
				}
			}

			.right {
				@apply my-4 px-4 flex flex-col;

				@include w-max(743px) {
					.event__list {
						margin-bottom: 28px;
					}
				}

				@include w-min(743px) {
					@apply border-gray-600 border-l-[1px];
					width: 285px;
				}

				.event__list {
					@apply flex flex-col gap-4 mt-2 flex-1;

					li {
						@apply flex flex-row justify-between gap-8;

						>div {
							h5 {
								@apply text-gray-400;
								font-size: 14px;

								.current {
									@apply rounded-full;
									content: "";
									display: inline-block;
									width: 10px;
									height: 10px;
									background-color: $main-color;
								}
							}

							h6 {
								@apply text-gray-500;
								font-size: 12px;
							}
						}

						button {
							padding: 4px 5px;
							height: fit-content;
							font-size: 14px;
						}
					}
				}


				>button {
					@apply flex flex-row gap-2 items-center justify-center;
					width: 100%;
					padding: 8px;
				}
			}
		}

		.decharges__footer {
			@apply px-4 pb-4;

			button {
				padding: 4px 12px;
				font-size: 15px;
			}
		}
	}
}