.welcome {
	@apply flex h-full;
	column-gap: 60px;

	@include w-max(981px) {
		flex-direction: column;
	}

	.side__left {
		@apply flex flex-col flex-1;

		h1 {
			font-family: $main-font;
			font-size: 60px;
			color: white;
		}

		>div:first-of-type {
			@apply flex-1;

			p,
			ul {
				@apply text-gray-400;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 14px;
			}

			h3 {
				font-size: 30px;
				font-family: $main-font;
				color: white;
				margin-top: 30px;
				margin-bottom: 6px;
			}

			ul {
				list-style: disc;
				margin-left: 16px;
			}
		}

		>div:last-of-type {
			@apply flex gap-4;
			button:last-of-type {
				@apply bg-black;
				color: white;
				border: $main-color solid 2px;
			}
		}

		button {
			margin-top: 30px;
			width: 100%;

			&.disabled {
				cursor: default;
				pointer-events: none;
			}
		}
	}

	.side__right {
		@apply flex-1 relative;

		> :first-child {
			height: 100% !important;
			object-fit: cover;
		}
	}
}