@tailwind base;
@tailwind components;

@layer components {

	.btn {
		@apply w-fit;
		padding: 16px 20px;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;
		font-family: 'Bebas Neue', cursive;
		font-size: 1.3rem;
		cursor: pointer;
	}

	.btn-primary {
		color: black;
		background-color: $main-color;

		&:hover {
			background-color: $second-color;
		}
	}

	.btn-secondary {
		@apply bg-black text-white;
		border: 2px $main-color solid;

		&:hover {
			@apply bg-gray-900;
		}
	}

	.btn-disabled {
		@apply bg-gray-700;
		cursor: not-allowed;
	}

	.btn-danger {
		@apply bg-red-500 text-white;

		&:hover {
			@apply bg-red-600;
		}
	}





	.switch {
		@apply bg-gray-800 flex items-center relative;
		width: 70px;
		cursor: pointer;
		height: 32px;
		content: "";

		&.checked {
			&::after {
				left: 42px;
				background-color: $main-color;
			}
		}

		&::after {
			@apply bg-gray-500;
			transition: all 0.2s ease-in-out;
			position: relative;
			left: 5px;
			width: 24px;
			height: 22px;
			content: "";
		}
	}


	.textbox {
		@apply bg-gray-900 text-white p-2;

		&:focus {
			@apply outline-none;
		}

		&.bright {
			@apply bg-gray-800;
			&:focus, &:hover {
				@apply bg-gray-700;
			}
		}

		&.dark {

			&:focus,
			&:hover {
				@apply bg-black;
			}
		}

		&.light {

			&:focus,
			&:hover {
				@apply bg-gray-700 #{!important};
			}
		}
	}

}