@import "./mixins.scss";

.circuit__option__picker {

	@include option-header(".picker__header");

	.picker__header {
		.decharge {
			@apply flex gap-2 items-center mt-4;
			svg {
				@apply w-5 h-5 text-red-500;
				margin-bottom: 1px
			}
		}
	}

	.picker__container {
		@apply mt-6;

		.selected {

			p {
				@apply text-gray-400;
				font-size: 14px;
				font-family: Arial, Helvetica, sans-serif;
			}

			>div {
				@apply flex gap-4 items-center;

				>div {
					@apply flex gap-4 items-center;

					svg {
						color: $main-color;
						@apply w-5 h-5;
					}

					h4 {
						font-family: $main-font;
						font-size: 25px;
						line-height: 25px;
						color: $main-color;
						margin-top: 8px;
					}

					h5 {
						font-family: Arial, Helvetica, sans-serif;
						font-size: 12px;
						color: white;
					}
				}

				button {
					padding: 10px;

					svg {
						@apply w-5 h-5;
					}
				}
			}
		}

		h3 {
			@apply mt-6 mb-4 flex items-center gap-2;
			font-family: $main-font;
			font-size: 26px;
			color: $main-color;

			svg {
				@apply w-6 h-6 mb-1;
			}
		}

		>ul {
			@apply flex flex-col gap-4;

			@include w-min($tablet-breakpoint + 100px) {
				@apply grid grid-cols-2;
			}

			li {
				>div {
					@apply flex justify-between items-center;

					h4 {
						font-size: 20px;
						font-family: $main-font;
						color: white;
						@apply flex gap-2 items-center;

						svg {
							@apply w-4 h-4 text-red-500;
							margin-bottom: 2px;
						}

						span {
							font-family: Arial, Helvetica, sans-serif;
							font-size: 14px;
							@apply text-gray-400;
						}
					}
				}

				>p {
					@apply text-gray-400 mt-2;
					font-size: 11px;
				}

				&.disabled {
					>div {
						h4 {
							@apply text-gray-400;
						}

						.switch {
							cursor: auto;
							&::after {
								
								@apply bg-gray-400;
							}
						}
					}
				}
			}
		}

		.location__option__header {

			@apply mb-4;

			h3 {
				@apply mb-0;
				line-height: 26px;
			}

			p {
				@apply text-gray-400;
				font-size: 14px;
				font-family: Arial, Helvetica, sans-serif;

				.car__name {
					font-weight: bold;
					color: white;
				}

				.next__car {
					@apply ml-2 cursor-pointer;
					color: $main-color;

					&:hover {
						color: $second-color;
					}
				}
			}
		}

		.no__location__option {
			p {
				@apply text-gray-400;
				font-size: 12px;
			}
		}
	}
}