.order__resume {
	@apply p-4 flex justify-between flex-col flex-1 bg-gray-900;

	min-height: 250px;

	@include w-min($tablet-breakpoint) {
		max-width: 33%;
	}

	.order__items {
		@apply flex-1 flex flex-col gap-6;

		li {
			> div {
				@apply flex justify-between items-center;
				h5 {
					@apply flex items-center justify-between gap-2;
					font-family: $main-font;
					color: white;

					span {
						@apply text-gray-400;
						font-family: Arial, Helvetica, sans-serif;
						font-size: 12px;
						font-weight: bold;
					}
				}

				> div {
					@apply flex;
					svg {
						@apply w-5 h-5;

						&:first-child {
							@apply text-red-500 cursor-pointer;
						}
					}
				}
			}

			.no__location {
				@apply flex mt-4 text-gray-400;
				font-size: 12px;
			}

			ul {
				@apply mt-2 ml-4 flex flex-col gap-2 text-gray-400 list-disc;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 14px;

				li {
					:nth-child(1) {
						float: left;
					}

					:nth-child(2) {
						float: right;
					}
				}
			}
		}
	}

	.order__submit {
		>div:first-child {
			@apply flex justify-between items-center mb-2;

			h4 {
				font-size: 28px;
				font-family: $main-font;
				color: $main-color;
			}

			h3 {
				font-size: 22px;
				font-family: $main-font;
				color: white;
			}
		}

		button {
			@apply w-full flex gap-2 items-center justify-center;

			svg {
				@apply w-5 h-5;
			}

			&.lock {
				@apply bg-gray-600;
				cursor: not-allowed;
			}
		}
	}
}