.option__picker {

	@apply flex-1 flex flex-col pb-4 relative;

	@include w-min(782px) {
		@apply pt-4;
	}

	.option__step__container {
		@apply flex-1 overflow-hidden mb-6;

		@import "./circuitpicker.scss";
		@import "./circuitoptionpicker.scss";
		@import "./carpicker.scss";
	}

	.option__picker__controller {
		@apply flex justify-end gap-2;

		.order__mode {
			// font-size: 16px;
		}

		@include w-max(440px) {
			@apply grid;
			grid-template-columns: 1fr 1fr;

			button {
				display: flex;
				justify-content: center;
				width: 100%;
			}

			button.order__mode {
				grid-column-start: 1;
				grid-column-end: 3;
			}
		}
		
		button {
			height: 63.19px;
			svg {
				@apply w-6 h-6;
			}
		}

	}

}