.nav__bar {
	height: $navbar-height;
	user-select: none;
	padding: 0 20px;
	@apply flex flex-row justify-between items-center bg-black;
}

.nav__bar .auth__menu {
	@apply relative;
	z-index: 1;

	>div {
		@apply cursor-pointer flex items-center gap-4;

		h5 {
			color: $main-color;
			font-family: $main-font;
		}

		img {
			@apply rounded-full;
			object-fit: contain;
			width: 50px;
			height: 50px;

			border: 2px $main-color solid;
		}

		h5:hover {
			color: $second-color;
		}

		img:hover {
			border: 2px $second-color solid;
		}
	}

	ul {
		@apply absolute flex gap-2 items-center h-0 overflow-hidden mt-3;

		background-color: $main-color;

		li {
			@apply cursor-pointer flex gap-2 items-center;
			color: black;
			padding: 5px 20px;
			font-family: $main-font;

			&:not(:last-child) {
				border-bottom: 1px solid black;
			}

			&:hover {
				background-color: $second-color;
			}

			svg {
				@apply w-5 h-5;
			}
		}
	}
}

.nav__bar .home__link {
	color: $main-color;
	padding-left: 0 !important;
	@apply btn flex gap-2;

	img {
		width: 30px;
		object-fit: contain;
	}

}

.nav__bar>.right__menu {

	@include w-max($tablet-breakpoint) {
		@apply hidden #{!important};
	}

	.login__menu {
		@apply grid grid-cols-2;

		>.menu__item:last-child {
			@apply btn btn-primary;
		}
	}
}

.nav__bar>.menu__burger {
	@apply hidden justify-center items-center cursor-pointer;

	svg {
		color: $main-color;
		@apply w-7 h-7;

		&:hover {
			color: $second-color;
		}
	}

	@include w-max($tablet-breakpoint) {
		@apply flex;
	}
}

.nav__bar>.menu__wrapper,
.nav__bar>.right__menu .login__menu {
	@apply flex flex-row;

	@include w-max($tablet-breakpoint) {
		@apply hidden #{!important};
	}

	>.menu__item {
		@apply btn text-center;
		color: white;

		&.active,
		&:hover {
			color: $main-color;
		}
	}
}

.nav__bar .menu__wrapper .menu__item.sub__menu {
	@apply relative;

	button {
		@apply flex gap-2 items-center;

		svg {
			@apply w-6 h-6;
		}
	}



	>div {
		@apply absolute top-full right-[20px] overflow-hidden h-0 z-10;

		.menu__wrapper {
			background-color: $main-color;

			.menu__item {
				color: black;
				transition: all 0.3s ease-in-out;
				white-space: nowrap;
				text-align: end;
				padding: 0 20px;

				&:not(:last-child) {
					border-bottom: 1px solid black;
				}

				&:hover {
					background-color: $second-color;
				}
			}
		}
	}
}


// convert menu wrapper to sidebar in mobile

.nav__bar>.menu__wrapper.main__menu.mobile__open {
	@include w-max($tablet-breakpoint) {
		@apply fixed flex flex-col #{!important};

		.menu__mobile__header {
			content: "";
			display: flex;
			justify-content: flex-end;
			background-color: $main-color;
			height: 55px;
			width: 100%;

			svg {
				@apply w-7 h-7 cursor-pointer mr-3;
				color: black;

				&:hover {
					color: rgb(51, 51, 51);
				}
			}
		}

		.menu__mobile__overlay {
			content: "";
			position: fixed;
			background-color: black;
			display: flex;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: -1;
		}

		.menu__mobile__login {

			@apply flex flex-col justify-end relative h-full;

			.login__menu {
				@apply flex;
				color: white;
				font-family: $main-font;
				border-top: 1px solid rgb(48, 48, 48);

				.menu__item {
					@apply flex-1 justify-center flex cursor-pointer;
				}

				&>.menu__item:nth-child(1) {
					margin-top: 0;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: $main-color;
					}
				}

				&>.menu__item:nth-child(2) {
					background-color: $main-color;
					transition: all 0.3s ease-in-out;
					color: black;

					&:hover {
						background-color: $second-color;
					}
				}
			}
		}

		background-color: black;
		min-width: 400px;
		height: 100vh;

		top: 0;
		left: -400px;
		z-index: 10;

		li {

			&:first-of-type {
				margin-top: 8px;
			}

			font-size: 25px;
			padding: 8px 20px;

			&.sub__menu {
				display: flex;
				width: 100%;
				flex-direction: column;

				>div {
					position: relative;
					right: 0;
					width: 100%;
				}
			}
		}

	}
}