.nav__bar {
	height: $navbar-height;
	user-select: none;
	padding: 0 20px;
	@apply flex flex-row justify-between items-center bg-black;
}

.nav__bar .home__link {
	color: $main-color;
	padding-left: 0 !important;
	@apply btn flex gap-2;

	img {
		width: 30px;
		object-fit: contain;
	}

}

.nav__bar>.menu__wrapper {
	@apply flex flex-row;

	@include w-max($tablet-breakpoint) {
		@apply hidden;
	}

	>.menu__item {
		@apply btn text-center;
		color: white;

		&.active {
			color: $main-color;
		}
	}

	&.right__menu {
		@apply grid grid-cols-2;

		>.menu__item:last-child {
			@apply btn btn-primary;
		}
	}
}

.nav__bar .menu__wrapper .menu__item.sub__menu {
	@apply flex flex-row items-center gap-2 relative;

	svg {
		@apply w-6 h-6 cursor-pointer;
	}

	>div {
		@apply absolute top-full right-[20px] overflow-hidden h-0 z-10;

		.menu__wrapper {
			background-color: $main-color;

			.menu__item {
				color: black;
				transition: all 0.3s ease-in-out;
				white-space: nowrap;
				text-align: end;
				padding: 0 20px;

				&:not(:last-child) {
					border-bottom: 1px solid black;
				}

				&:hover {
					background-color: $second-color;
				}
			}
		}
	}

}