@tailwind base;
@tailwind components;

@layer components {

	.btn {
		padding: 16px 20px;
		text-transform: uppercase;
		font-family: 'Bebas Neue', cursive;
		font-size: 1.3rem;
		color: white;
	}

	.btn-primary {
		color: black;
		background-color: #ffd70c;
	}
}