@tailwind base;
@tailwind components;

@layer components {

	.btn {
		@apply w-fit;
		padding: 16px 20px;
		text-transform: uppercase;
		font-family: 'Bebas Neue', cursive;
		font-size: 1.3rem;
		cursor: pointer;
	}

	.btn-primary {
		color: black;
		transition: all 0.3s ease-in-out;
		background-color: $main-color;
		&:hover {
			background-color: $second-color;
		}

		&.disabled {
			@apply bg-gray-700;
			cursor: not-allowed;
		}

		&.secondary {
			@apply bg-black text-white;
			border: 2px $main-color solid;

			&:hover {
				background: #1a1a1a;
			}
		}
	}


	.switch {
		@apply bg-gray-800 flex items-center relative;
		width: 70px;
		cursor: pointer;
		height: 32px;
		content: "";
		&.checked {
			&::after {
				left: 42px;
				background-color: $main-color;
			}
		}
		&::after {
			@apply bg-gray-500;
			transition: all 0.2s ease-in-out;
			position: relative;
			left: 5px;
			width: 24px;
			height: 22px;
			content: "";
		}
	}
}